# Base directories (you can usually leave these as default)
DATA_DIR=./data
RESULTS_DIR=./results

# Optional: if someone wants to override the itx folder
ITX_DIR=./data/itx
RAW_BE_DIR=./data/raw/BE_datasets
PREPROCESSED_DIR=./data/Preprocessed_BE_datasets
FEATURES_DIR=./data/Extracted_Features
CLUSTERED_DIR=./data/Clustered_BE_datasets
